---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<div class="relative bg-gradient-to-bl via-[#1e89a4] from-[#05699b] to-[#0a7cb5] min-h-screen">
		<header class="relative">
			<img src="/images/openmicimg.png" alt="" class="absolute w-full h-full object-cover" />
			<div class="cta-txt flex items-center p-16">
				<h1 class="text-8xl font-bold z-10 w-[80%] bg-clip-text bg-gradient-to-b from-[#BA188C] to-[rgba(115,20,159,0.2)] text-transparent">Welcome to OpenStandup</h1>
			</div>
		</header>
		<main class="flex items-center justify-center py-10 px-10 bg-[#3e0658]">
			<aside>
				<h2 class="text-pink-color text-right text-2xl -mr-3">Let's Get Started, give your update!</h2>
			</aside>
			<article class=" bg-rules-bkg-color flex rounded-xl">
				<ul class="w-full text-white list-decimal text-xl text-left list-inside font-thin m-5">
					<span class="w-[1rem] h-[1rem] bg-pink-color"></span><li class="text-white">What I worked on this past week.</li>
					<li>What I'm working on this week.</li>
					<li>What challenges/blockers I encountered.</li>
				</ul>
			</article>
		</main>
	</div>
	
</Layout>