---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<div class="relative bg-gradient-to-bl via-[#1e89a4] from-[#05699b] to-[#0a7cb5] min-h-screen">
		<header class="relative">
			<img src="/images/openmicimg.png" alt="" class="absolute w-full h-full object-cover" />
			<div class="cta-txt flex items-center p-16">
				<h1 class="text-8xl font-bold z-10 w-[80%] bg-clip-text bg-gradient-to-b from-[#BA188C] to-[rgba(115,20,159,0.2)] text-transparent">Welcome to OpenStandup</h1>
			</div>
		</header>
		<main class="flex items-center py-10 px-10 bg-[#3e0658]">
			<aside class="basis-2/5">
				<h2 class="text-pink-color text-2xl">Let's Get Started, give your update!</h2>
			</aside>
			<article class="basis-3/5 container bg-rules-bkg-color flex rounded-xl">
				<h3>Rules</h3>
				<ul class="w-full text-white list-decimal text-xl text-left list-inside font-semibold text-transparent m-5">
					<li>Don't talk about proprietary stuff.
					<li>DO NOT talk about corp/NDA/confidential/anything-that-might-get-you-in-legal-trouble stuff!
					<li> If someone yells "parking lot!" or double ✌'s...the topic is over.
					<li>Minimum 5 shares per stand-up.
					<li>Only one person sharing at a time.
					<li>The repos are OSS. No closed source...no rights reserved...no per-core seats...
					<li></li>Stand-ups will go on as long as they have to unless Nate has to leave.
					8. If this is your first time at standup, you **[SHOULD](https://www.ietf.org/rfc/rfc2119.txt)** share.
				</ul>
			</article>
		</main>
	</div>
	
</Layout>